body {
  background: url("https://img.freepik.com/free-photo/sunset-silhouettes-trees-mountains-generative-ai_169016-29371.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 10%;
}
