* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container div {
  width: 33.333%;
  height: 10%;
  background-color: black;
  color: #fff;
  border: 3px solid red;
  /* margin: 5px; */
}

.container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
}
